$maxHeight: 400px;

.original-image-wrapper {
  margin: 1em auto;
  max-width: 800px;
  max-height: $maxHeight;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: $maxHeight;
    height: auto;
  }
}
