html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: auto;
}

.footer {
  margin: auto;
  font-size: 0.8em;
  margin-top: 3rem;
  text-align: center;
}
